body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, hsl(0, 0%, 0%), #171821, #03040d);
}

.imgs {
  display: flex;
  gap: 8px;
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translate(0%, -50%);
}

.image {
  width: 380px;
  height: 450px;
  object-fit: cover;
  object-position: 50% 100%;
  user-select: none;
}

.paralaxF {
  object-fit: cover;
}
