body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, hsl(0, 0%, 0%), #171821, #03040d);
}

.imgs {
  display: flex;
  gap: 8px;
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translate(0%, -50%);
}

.image {
  width: 380px;
  height: 450px;
  object-fit: cover;
  object-position: 50% 100%;
  user-select: none;
}

.paralaxF {
  object-fit: cover;
}

header {
  font-family: "Roboto", "sans-serif";
}

header nav div.container-fluid a.hoverEffect {
  transition: ease-out 0.5s;
}

header nav div.container-fluid a.hoverEffect:hover {
  color: #c2783b;
  transition: ease-in 0.5s;
}

.inputs {
  width: 100%;
  height: 100vh;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: ghostwhite;
}

input {
  border-radius: 7px;
  height: 50px;
  background-color: transparent;
  border: 1px solid gray;
  color: white;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
}

.inputStyle {
  width: 500px;
}

.btnStyle {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.btnStyle:hover {
  background-color: ghostwhite;
}

.customText {
  height: 200px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-self: center;
}

textarea:focus {
  outline: none;
}
textarea {
  background-color: transparent;
  color: white;
}

.formStyle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

[class^="swal2"] {
  color: white;
}
